USE [master]
GO
/****** Object:  Database [IMDB]    Script Date: 08/06/2018 05:02:07 ******/
CREATE DATABASE [IMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IMDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IMDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMDB]
GO
USE [IMDB]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 08/06/2018 05:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Sex] [varchar](50) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[Bio] [varchar](50) NOT NULL,
	[MovieId] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Actor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 08/06/2018 05:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[YearOfRelease] [int] NOT NULL,
	[Plot] [varchar](50) NOT NULL,
	[Poster] [varchar](50) NOT NULL,
	[ProducerId] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Movie2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ActorDetail]    Script Date: 08/06/2018 05:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ActorDetail] as
SELECT    a.ID, a.Name, a.Sex, a.DOB, a.Bio,a.IsDeleted ,m.Name AS MovieName
FROM            dbo.Actor AS a INNER JOIN
  dbo.Movie AS m ON a.MovieId = m.ID
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 08/06/2018 05:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Sex] [varchar](50) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[Bio] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Producer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MovieDetail]    Script Date: 08/06/2018 05:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[MovieDetail] as
SELECT   m.Name, m.ID, m.YearOfRelease, m.Plot, m.Poster,m.IsDeleted ,p.Name AS ProducerName
FROM            dbo.Movie AS m INNER JOIN
                         dbo.Producer AS p ON m.ProducerId = p.ID
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([ID], [Name], [Sex], [DOB], [Bio], [MovieId], [IsDeleted]) VALUES (1, N'Danial', N'Male', CAST(N'2000-04-03T00:00:00.000' AS DateTime), N'wer', 1, 0)
INSERT [dbo].[Actor] ([ID], [Name], [Sex], [DOB], [Bio], [MovieId], [IsDeleted]) VALUES (3, N'Emma', N'Female', CAST(N'1998-02-02T00:00:00.000' AS DateTime), N'wdsf', 2, 0)
SET IDENTITY_INSERT [dbo].[Actor] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([ID], [Name], [YearOfRelease], [Plot], [Poster], [ProducerId], [IsDeleted]) VALUES (1, N'HarryPotter', 1997, N'abc', N'download (1).jpg', 1, 0)
INSERT [dbo].[Movie] ([ID], [Name], [YearOfRelease], [Plot], [Poster], [ProducerId], [IsDeleted]) VALUES (2, N'XMan', 2000, N'adc', N'x-man.jpg', 2, 0)
INSERT [dbo].[Movie] ([ID], [Name], [YearOfRelease], [Plot], [Poster], [ProducerId], [IsDeleted]) VALUES (10, N'Spider Man', 1999, N'uuku', N'x-man.jpg', 2, 1)
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[Producer] ON 

INSERT [dbo].[Producer] ([ID], [Name], [Sex], [DOB], [Bio], [IsDeleted]) VALUES (1, N'J.K.Rowling', N'Female', CAST(N'1947-05-04T00:00:00.000' AS DateTime), N'ABC', 0)
INSERT [dbo].[Producer] ([ID], [Name], [Sex], [DOB], [Bio], [IsDeleted]) VALUES (2, N'Steve', N'Male', CAST(N'1994-02-02T00:00:00.000' AS DateTime), N'DEF', 0)
INSERT [dbo].[Producer] ([ID], [Name], [Sex], [DOB], [Bio], [IsDeleted]) VALUES (3, N'Kareena', N'Male', CAST(N'1991-01-17T00:00:00.000' AS DateTime), N'jikuyjhgf', 1)
SET IDENTITY_INSERT [dbo].[Producer] OFF
ALTER TABLE [dbo].[Actor]  WITH CHECK ADD  CONSTRAINT [FK_Actors_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([ID])
GO
ALTER TABLE [dbo].[Actor] CHECK CONSTRAINT [FK_Actors_Movies]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movies_Producers] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[Producer] ([ID])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movies_Producers]
GO
USE [master]
GO
